* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 6px;
}
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

button.btn.main-btn {
  background-color: #fab534;
  padding: 0 !important;
  margin-left: 10px;
}

.navbar a:hover {
  background: #05a68b;
  color: #fff;
  border-radius: 25px;
}

#img:hover {
  background-color: #fff;
}

#button:hover {
  background: #fab534;
  color: #000;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 17px !important;
}

.sub-btn {
  border-radius: 10px;
  background-color: #f8b434;
  color: #000 !important;
  font-size: 16px;
  padding: 0px 20px;
  line-height: 10px;
  padding-left: 1px;
}

.about-style {
  height: auto;
}

.about-frame {
  background-color: #004c3d;
  height: 60vh;
  background-image: url(../images/About\ us\ frame.png);
  background-position: bottom center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.light {
  background: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.left_arrow3 {
  position: absolute;
  top: 46%;
  width: 30px;

  left: 1%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.right_arrow3 {
  position: absolute;
  top: 46%;
  width: 30px;

  left: 96%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.footer .title h4 {
  font-size: 17px !important;
}

.footer .title ul li {
  padding-bottom: 10px;
}

.footer .title ul li a {
  text-decoration: none;
  color: white;
}

.footer .title ul li a:hover {
  text-decoration: underline;
}

.social-icon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.social-icon-bottom ul {
  display: inline;
}

.country ul li {
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  float: left;
  padding: 0px 9px;
  border-right: 3px solid #fff;
}

.w3box {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  padding-top: 32px;
  font-weight: 600;
}

.box {
  width: 65%;
  text-align: center;
  background-color: white;
  border: 0.5px solid grey;
  border-left: 0;
  border-bottom: 0;
  border-radius: 20px;
  box-shadow: 3px 0 13px -1px grey;
  padding: 5px;
  margin: auto;
}

h2.box-sizing {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: sans-serif;
  padding-top: 3rem;
}