* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-btn:hover {
  background-color: #fab534 !important;
  color: #000 !important;
}

button.btn.main-btn {
  background-color: #fab534;
  padding: 0 !important;
  margin-left: 10px;
}

.navbar a:hover {
  background: #05a68b;
  color: #fff;
  border-radius: 25px;
}
.d-flex.align-items-baseline.box {
  width: 100%;
  text-align: center;
  margin: auto;
}
.main {
  padding-left: 2rem;
}

/* navbar styling */

.navbar {
  padding: 6px;
}
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
#img:hover {
  background-color: #fff;
}

#button:hover {
  background: #fab534;
  color: #000;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 17px !important;
}

.sub-btn {
  border-radius: 10px;
  background-color: #f8b434;
  color: #000 !important;
  font-size: 16px;
  padding: 17px 20px;
  line-height: 10px;
}

/* acquire styling */

button.btn.ms-3.main-btn.end-btn.bg-black.text-white.mt-3 {
  padding: 9px !important;
}

.d-flex.align-items-baseline.box {
  width: 100%;
  text-align: center;
}

/* Home styling */
.box {
  margin: 0px;
  padding: 7px;
  background-color: #dafff2;
  border-style: solid;
  border-width: 1px;
  border-color: #00a98a;
  border-radius: 8px;
  display: inline-block;
}

.home h1 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}

/* slider styling */
.left_arrow {
  position: absolute;
  top: 105%;
  width: 30px;
  background: #373333;
  left: 48%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.right_arrow {
  position: absolute;
  top: 105%;
  width: 30px;
  background: #373333;
  left: 52%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.slick-initialized .slick-slide {
  display: block;
  padding-left: 30px;
}

.card-border {
  border: 2px solid #004c3d;
}

.gray-light {
  background-color: #e3e0e0;
  border-radius: 25px;
  padding: 0.5rem;
}

/* footer styling */
.footer .title h4 {
  font-size: 17px !important;
}

.footer .title ul li {
  padding-bottom: 10px;
}

.footer .title ul li a {
  text-decoration: none;
  color: white;
}

.footer .title ul li a:hover {
  text-decoration: underline;
}

.social-icon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.social-icon-bottom ul {
  display: inline;
}

.country ul li {
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  float: left;
  padding: 0px 9px;
  border-right: 3px solid #fff;
}

/* janki start css html.index page */

.w3-image img {
  width: 550px;
  height: 440px;
  padding-left: 65px;
}

.navigation {
  display: flex;
  justify-content: end;
  width: 100%;
}

.menu-ul {
  display: flex;
  list-style-type: none;
  padding: 13px;
  margin-right: 96px;
}

.menu-li {
  display: block;
  padding-inline: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: math;
}

.menu-li:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 35px;
}

.image {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  margin-top: -22px;
  padding-left: 0px;
}

.navigation-section {
  background-color: #004c3d;
  color: white;
  width: 100%;
}

.icon {
  display: flex;
}

p {
  font-size: 16px;
  font-family: math;
  margin-top: 3px;
}

.w3-image {
  padding-left: 20px;

  text-align: justify;
  margin-right: 28px;
}

i.fa.fa-check {
  padding-top: 21px;
  padding-right: 4px;
  color: lightgreen;
}

button.learn {
  margin-left: 40px;
  padding: 12px 12px;
  width: 170px;
  border: 3px solid #fab534;
  background-color: #004c3d;
  color: white;
  border-radius: 12px;
}

button.sign-up {
  margin-left: 10px;
  padding: 15px 12px;
  width: 180px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #fab534;
}

body {
  margin: 0;
}

li.sale {
  padding: 9px 55px;
}

.element-html {
  margin-top: 339px;
  margin-bottom: 26px;
}

li.support {
  padding: 9px 45px;
}

h1.h1.tag {
  margin-top: 50px;
  font-family: math;
}

li.active {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 35px;
  padding: 9px 40px;
  margin-right: 8px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004c3d;
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.main-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin-left: -14px;
  border-bottom: 2px solid black;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-paragraph {
  margin-left: 20px;
  flex-grow: 1;
  font-family: math;
}

section.experience {
  background-color: #19322d;
}

h3.h3-tag {
  font-size: 20px;
  font-family: math;
}

.w-icon {
  width: 40px;
  height: 40px;
  background-color: #004c3d;
  color: white;
  border-radius: 50%;
}

.icon-paragraph1 {
  margin-left: 20px;
  flex-grow: 7;
}

i.fa.fa-cog {
  text-align: center;
  padding-left: 7px;
  padding-top: 8px;
}

.element-html {
  margin-top: 40px;
  margin-bottom: 26px;
}

i.fa.fa-globe {
  text-align: center;
  padding: 7px;
}

.img-html-1 {
  margin-top: 130px;
  padding-left: 20px;
  height: auto;
}

.heading {
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1.tag-ss1 {
  font-size: 31px;
  font-family: sans-serif;
}

h3.tagssss-2 {
  font-size: 19px;
  font-family: sans-serif;
}

i.fa.fa-exclamation-circle {
  padding: 7px;
}

i.fa.fa-bar-chart {
  padding-left: 6px;
  padding-top: 6px;
}

i.fa.fa-whatsapp {
  padding-left: 9px;
  padding-top: 7px;
}

span.tag-4 {
  font-family: math;
  font-weight: 600;
}

.image-elemant-2 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  margin-left: 15px;
  margin-bottom: 40px;
}

.image-elemant-2 img {
  width: 11%;
  height: auto;
  margin: 5px;
}

.gallary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span0 {
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: math;
  letter-spacing: 2px;
  padding-top: 14px;
  padding-bottom: 12px;
}

.w3section {
  text-align: center;
  border: 2px solid lightgreen;
  border-radius: 17px;
  padding: 19px 36px;
  margin-bottom: 25px;
}

.flex0 {
  padding-top: 2px;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 40px;
}

span.nav {
  font-size: 39px;
  color: #fab534;
  font-weight: 600;
}

span.average {
  font-size: 20px;
  color: antiquewhite;
  font-weight: 600;
  font-family: math;
}

.float-1 {
  display: flex;
  justify-content: center;
}

.hello-flex {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  margin-left: 55px;
  gap: 20px;
}

h4.span-0 {
  text-align: center;
  font-size: 32px;
}

.w3box {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 15px;
}

h2.logo1 {
  text-align: center;
  font-size: 34px;
  color: white;
  padding-top: 40px;
  font-family: sans-serif;
}

h3.logo2 {
  text-align: center;
  font-size: 23px;
  color: #cbf2e4;
  font-family: sans-serif;
}

.button-png {
  text-align: center;
  padding-bottom: 65px;
  margin-bottom: 0px;
}

button.png {
  padding: 16px 46px;
  font-size: 15px;
  font-family: sans-serif;
  border: 0px solid;
  border-radius: 10px;
  background-color: #fab354;
}

.logo {
  background-color: #004c3d;
  margin-top: -25px;
}

h2.box-sizing {
  font-size: 33px;
  letter-spacing: 1px;
  margin-bottom: -17px;
  font-family: sans-serif;
  margin-top: 50px;
}

.w3box {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 15px;
}

.button-png {
  text-align: center;
  padding-bottom: 65px;
  margin-bottom: 95px;
}

button.png {
  padding: 16px 46px;
  font-size: 15px;
  font-family: sans-serif;
  border: 0px solid;
  border-radius: 10px;
  background-color: #fab354;
}

h2.box-sizing {
  font-size: 33px;
  letter-spacing: 1px;
  margin-bottom: -17px;
  font-family: sans-serif;
  margin-top: 50px;
}

p.abc {
  margin-right: 23px;
  font-size: 17px;
  font-family: math;
}

.box-tag {
  width: 55%;
  text-align: center;
  background-color: white;
  border: 0.5px solid grey;
  border-left: 0;
  border-bottom: 0;
  border-radius: 20px;
  box-shadow: 3px 0 13px -1px grey;
  margin-left: 23%;
  margin-top: 6%;
}

button.botton-element {
  width: 287px;
  padding: 17px;
  font-size: 17px;
  border: 0px solid;
  border-radius: 8px;
  background-color: #fab534;
  margin-bottom: 10px;
  font-family: math;
  font-weight: 600;
}

h2.element-tag {
  margin-bottom: 40px;
  margin-top: 26px;
  font-size: 33px;
  font-family: math;
  font-weight: 600;
}

button.button0tag {
  width: 250px;
  padding: 15px;
  border: 0px solid;
  border-radius: 7px;
  background-color: #479974;
  font-size: 17px;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
}

/*janki integration page css code*/

section.float-section {
  display: flex;
}

h2.\#tag1 {
  font-size: 35px;
  font-weight: 600;
  font-family: sans-serif;
  padding-left: 35px;
  padding-top: 30px;
}

p.\#tag2 {
  font-size: 19px;
  padding-left: 37px;
  font-weight: 600;
  font-family: system-ui;
}

button.signup.free {
  margin-left: 38px;
  margin-top: 8px;
}

button.signup.free {
  background-color: #f8b434;
  margin-left: 38px;
  margin-top: 8px;
  padding: 10px 34px;
  border: 2px solid transparent;
  border-radius: 7px;
  font-weight: 700;
}

section.image-integration {
  background-color: #004c3d;
}

.shsadow {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 100px;
  padding-right: 100px;
}

.image-wraps img {
  width: 97px;
  height: 92px;
}

.image-wraps {
  padding: 9px;
  width: 23%;
  padding-inline: 10px;
  background-color: white;
  margin: 6px;
  border: 2px solid transparent;
  border-radius: 12px;
}

h3.\#wrap-1 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px;
}

h4.\#wrap-color {
  font-size: 16px;
  color: gray;
}

h2.\#heading {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-weight: 400;
}

p.\#paragraph-wrap {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 1px;
}

ul.\#menu-ul {
  list-style-type: none;
  display: flex;
  padding-left: 80px;
  padding-top: 38px;
}

li.\#sub-menu:hover {
  background-color: white;
  color: black;
}

li.\#sub-menu {
  margin-left: 10px;
  margin-left: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding: 11px 20px;
}

h3.card-head {
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 18px;
}

button.request {
  text-align: center;
  margin-left: 510px;
  padding: 7px 20px;
  background-color: #f8b434;
  border: 2px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  margin-bottom: 35px;
}

.flex-6-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -39px;
  margin-top: 55px;
}

h2.head-icon {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
  font-weight: 700;
  font-family: sans-serif;
}

.wrap-float {
  margin-left: 40px;
  padding-bottom: 35px;
}

h4.second-section {
  font-size: 20px;
  font-family: unset;
  margin-top: 22px;
}

p.third-section {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 400;
}

i.fa.fa-file-text-o {
  color: #f8b434;
  border: 3px solid #f8b434;
  border-radius: 30px;
  padding: 12px;
  padding-left: 15px;
  padding-right: 10px;
}

i.fa.fa-bell {
  color: #21a3e3;
  border: 3px solid #21a3e3;
  border-radius: 30px;
  padding: 10px;
}

i.fa.fa-bullhorn {
  color: #f8b434;
  border: 3px solid #f8b434;
  border-radius: 30px;
  padding: 10px;
}

i.fa.fa-envelope {
  color: #1eb4ff;
  border: 3px solid #1eb4ff;
  border-radius: 30px;
  padding: 10px;
}

i.fa.fa-commenting-o {
  color: #1d8d5f;
  border: 3px solid #1d8d5f;
  border-radius: 30px;
  padding: 10px;
  padding-left: 11px;
}

i.fa.fa-check-square-o {
  color: #55c755;
  border: 3px solid #55c755;
  border-radius: 30px;
  padding: 10px;
  padding-left: 14px;
}

.w3box {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 15px;
}

.button-png {
  text-align: center;
  padding-bottom: 65px;
  margin-bottom: 95px;
}

button.png {
  padding: 16px 46px;
  font-size: 15px;
  font-family: sans-serif;
  border: 0px solid;
  border-radius: 10px;
  background-color: #fab354;
}

h2.box-sizing {
  font-size: 33px;
  letter-spacing: 1px;
  margin-bottom: -17px;
  font-family: sans-serif;
  margin-top: 50px;
}

p.abc {
  margin-right: 23px;
  font-size: 17px;
  font-family: math;
}

.box {
  width: 58%;
  display: block;
  text-align: center;
  margin-left: 264px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 3px 0 13px -3px grey;
}

button.botton-element {
  width: 287px;
  padding: 17px;
  font-size: 17px;
  border: 0px solid;
  border-radius: 8px;
  background-color: #fab534;
  margin-bottom: 10px;
  font-family: math;
  font-weight: 600;
}

h2.element-tag {
  margin-bottom: 40px;
  margin-top: 26px;
  font-size: 33px;
  font-family: math;
  font-weight: 600;
}

button.button0tag {
  width: 250px;
  padding: 15px;
  border: 0px solid;
  border-radius: 7px;
  background-color: #479974;
  font-size: 17px;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-button {
  background-color: #f8f9fa;
  color: #212529 !important;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.accordion-body {
  font-size: 17px;
  font-weight: 600;
}

.footer .title h4 {
  font-size: 17px !important;
}

.footer .title ul li {
  padding-bottom: 10px;
}

.footer .title ul li a {
  text-decoration: none;
  color: white;
}

.footer .title ul li a:hover {
  text-decoration: underline;
}

.social-icon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.social-icon-bottom ul {
  display: inline;
}

.country ul li {
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  float: left;
  padding: 0px 9px;
  border-right: 3px solid #fff;
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
  .image {
    display: block;
    width: 100%;
    padding-bottom: 30px;
    justify-content: center;
    margin-top: -22px;
    padding-left: 0px;
}
.w3-image img {
  width: 332px;
  height: 347px;
}
.w3-image {
  width: 100% !important;
}
.float-1 {
  display: block;
}
.img-html-1 {
  margin-top: 25px;
  padding-left: 0px !important;
  height: auto;
  width: 321px !important;
}
.hello-flex {
  display: block;
  justify-content: space-around;
  margin-right: 40px;
  margin-left: 40px;
  gap: 20px;
}
.box-tag {
  width: 100% !important;
  text-align: center;
  background-color: white;
  border: 0.5px solid grey;
  border-left: 0;
  border-bottom: 0;
  border-radius: 20px;
  box-shadow: 3px 0 13px -1px grey;
  margin-left: 0px !important;
  margin-top: 6%;

}
.d-flex.align-items-baseline.box {
  width: 100%;
  text-align: center;
  margin: 0px auto;
}
}