* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-btn:hover {
  background-color: #fab534 !important;
  color: #000 !important;
}

button.btn.main-btn {
  background-color: #fab534;
  padding: 0 !important;
  margin-left: 10px;
}

.navbar a:hover {
  background: #05a68b;
  color: #fff;
  border-radius: 25px;
}
.d-flex.align-items-baseline.box {
  width: 100%;
  text-align: center;
  margin: auto;
}
.main {
  padding-left: 2rem;
}

/* navbar styling */

.navbar {
  padding: 6px;
}

#img:hover {
  background-color: #fff;
}

#button:hover {
  background: #fab534;
  color: #000;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 17px !important;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.sub-btn {
  border-radius: 10px;
  background-color: #f8b434;
  color: #000 !important;
  font-size: 16px;
  padding: 17px 20px;
  line-height: 10px;
}

.get_live {
  padding: 8px 22px;
  border: 2px solid #fab534;
  border-radius: 7px;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-border {
  border: 2px solid #004c3d;
  width: 17rem;
  background-color: transparent;
  border-radius: 10px;
}

.box {
  width: 65%;
  text-align: center;
  background-color: white;
  border: 0.5px solid grey;
  border-left: 0;
  border-bottom: 0;
  border-radius: 20px;
  box-shadow: 3px 0 13px -1px grey;
}

h2.box-sizing {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: sans-serif;
  padding-top: 3rem;
}

.w3box {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  padding-top: 32px;
  font-weight: 600;
}

.element-html {
  display: flex;
  justify-content: center;
}

/* footer styling */
.footer .title h4 {
  font-size: 17px !important;
}

.footer .title ul li {
  padding-bottom: 10px;
}

.footer .title ul li a {
  text-decoration: none;
  color: white;
}

.footer .title ul li a:hover {
  text-decoration: underline;
}

.social-icon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.social-icon-bottom ul {
  display: inline;
}

.country ul li {
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  float: left;
  padding: 0px 9px;
  border-right: 3px solid #fff;
}
