* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-section {
  display: flex;
  border: 2px solid gray;
  width: 41%;
  justify-content: center;
  padding: 5px;
  border-radius: 6px;
  margin: auto;
}

h3.h1-signin-0 {
  text-align: center;
  margin-bottom: 12px;
}

img.google {
  margin: 2px 5px;
}

.border-section {
  text-align: center;
  margin-top: 30px;
  color: gray;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

h4.h4-section {
  margin: 1px 24px 1px 24px;
}

input#Email\ Address {
  width: 41%;
  margin-top: 40px;
  padding: 6px 8px 8px;
  border: 1px solid gray;
  border-radius: 7px;
  display: block;
  margin: auto;
  margin-top: 13px;
}

input#Password {
  width: 41%;
  margin-top: 15px;
  padding: 6px 8px 8px;
  border: 1px solid gray;
  border-radius: 7px;
  display: block;
  margin: auto;
}


.sign-inside {
  background-color: #14977d;
  text-align: center;
  width: 41%;
  margin-left: 29%;
  margin-top: 5px;
  padding: 1px;
  padding-top: 4px;
  color: white;
  border-radius: 9px;
  display: block;
  margin: auto;
}

h5.p-tag1 {
  margin-left: 29%;
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
}

a {
  margin: auto;
  color: black;
  font-weight: 500;
  font-size: 21px;
  margin-left: 0px !important;
  display: block;
  text-align: center;
}

.navbar {
  padding: 6px;
}

button.btn.main-btn {
  background-color: #fab534;
  padding: 0 !important;
  margin-left: 10px;
}
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.navbar a:hover {
  background: #05a68b;
  color: #fff;
  border-radius: 25px;
}

#img:hover {
  background-color: #fff;
}

#button:hover {
  background: #fab534;
  color: #000;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 17px !important;
}

.sub-btn {
  border-radius: 10px;
  background-color: #f8b434;
  color: #000 !important;
  font-size: 16px;
  padding: 0px 20px;
  line-height: 10px;
  padding-left: 1px;
}



@media only screen and (min-width: 200px) and (max-width: 767px) {
  .icon-section {
    display: flex;
    width: 87%;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
    margin-left: 7%;
    margin-top: 21%;
  }
  .navbar ul {
   display: block !important;
 
}

  .sign-inside {
    background-color: #14977d;
    text-align: center;
    width: 65%;
    margin-left: 18%;
    margin-top: 18px;
    padding: 1px;
    padding-top: 4px;
    color: white;
    border-radius: 9px;
  }

  h5.p-tag1 {
    margin-left: 6%;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
  }

  input#Email\ Address {
    width: 89%;
    margin-top: 40px;
    padding: 6px 8px 8px;
    border: 1px solid gray;
    border-radius: 7px;
    margin-left: 6%;
  }

  input#Password {
    margin-left: 6%;
    width: 89%;
    margin-top: 15px;
    padding: 6px 8px 8px;
    border: 1px solid gray;
    border-radius: 7px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .icon-section {
    display: flex;
    border: 2px solid gray;
    width: 65%;
    justify-content: center;
    margin-left: 18%;
    padding: 5px;
    border-radius: 6px;
  }
  .navbar ul {
   display: block !important;
 
}
  input#Email\ Address {
    margin-left: 18%;
    width: 64%;
    margin-top: 40px;
    padding: 6px 8px 19px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 25px;
  }

  input#Password {
    margin-left: 18%;
    width: 64%;
    margin-top: 15px;
    padding: 6px 8px 16px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 25px;
  }

  .sign-inside {
    background-color: #14977d;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 41px;
    padding: 22px;
    padding-top: 18px;
    color: white;
    border-radius: 9px;
  }

  h5.p-tag1 {
    margin-left: 17%;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
  }

  a {
    color: black;
    font-weight: 500;
    font-size: 27px;
    margin-left: 17%;
  }
}