* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-section {
  display: flex;
  border: 2px solid gray;
  width: 41%;
  justify-content: center;
  margin-left: 366px;
  padding: 5px;
  border-radius: 6px;
}

h3.h1-signin-0 {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 38px;
  font-weight: 700;
  padding: 30px;
}

img.google {
  margin: 2px 5px;
}

.border-section {
  text-align: center;
  margin-top: 30px;
  color: gray;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

h4.h4-section {
  margin: 1px 24px 1px 24px;
}

input#Email\ Address {
  margin-left: 29%;
  width: 41%;
  margin-top: 40px;
  padding: 6px 8px 8px;
  border: 1px solid gray;
  border-radius: 7px;
}

input#Password {
  margin-left: 29%;
  width: 41%;
  margin-top: 15px;
  padding: 6px 8px 8px;
  border: 1px solid gray;
  border-radius: 7px;
}

.sign-inside {
  background-color: #14977d;
  text-align: center;
  width: 41%;
  margin-left: 29%;
  margin-top: 18px;
  padding: 1px;
  padding-top: 4px;
  color: white;
  border-radius: 9px;
}

h5.p-tag1 {
  margin-left: 29%;
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
}
a {
  margin: auto;
  color: black;
  font-weight: 500;
  font-size: 21px;
  margin-left: 0px !important;
  display: block;
  text-align: center;
}

.navbar {
  padding: 6px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

#img:hover {
  background: #fff;
}

.navbar li {
  position: relative;
}

li.nav-item {
  margin-right: 5px !important;
}
button.btn.main-btn {
  background-color: #fab534;
  padding: 0 !important;
  margin-left: 10px;
}
a.nav-link {
  text-align: center;
  margin-left: 0px;
  padding: 1px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 17px !important;
}

.navbar a:hover {
  background: #05a68b;
  color: #fff;
  border-radius: 25px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
  text-decoration: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #000;
}

.main-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  color: #000;
  background-color: #fab534;
  border-radius: 8px;
  width: 19%;
  width: 17%;
  padding: 8px 16px !important;
}

a.nav-link {
  padding-left: 12px !important;
}

#img:hover {
  background-color: #fff;
}
.main-btn:hover {
  background-color: #fab534;
  color: #000;
}
#button {
  display: block;
  padding: 10px;
}
#button:hover {
  background: transparent;
  color: #000;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #000;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  visibility: visible !important;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .icon-section {
    display: flex;
    width: 87%;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
    margin-left: 7%;
    margin-top: 21%;
  }

  .sign-inside {
    background-color: #14977d;
    text-align: center;
    width: 65%;
    margin-left: 18%;
    margin-top: 18px;
    padding: 1px;
    padding-top: 4px;
    color: white;
    border-radius: 9px;
  }

  h5.p-tag1 {
    margin-left: 6%;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
  }

  input#Email\ Address {
    width: 89%;
    margin-top: 40px;
    padding: 6px 8px 8px;
    border: 1px solid gray;
    border-radius: 7px;
    margin-left: 6%;
  }

  input#Password {
    margin-left: 6%;
    width: 89%;
    margin-top: 15px;
    padding: 6px 8px 8px;
    border: 1px solid gray;
    border-radius: 7px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .icon-section {
    display: flex;
    border: 2px solid gray;
    width: 65%;
    justify-content: center;
    margin-left: 18%;
    padding: 5px;
    border-radius: 6px;
  }

  input#Email\ Address {
    margin-left: 18%;
    width: 64%;
    margin-top: 40px;
    padding: 6px 8px 19px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 25px;
  }

  input#Password {
    margin-left: 18%;
    width: 64%;
    margin-top: 15px;
    padding: 6px 8px 16px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 25px;
  }

  .sign-inside {
    background-color: #14977d;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 41px;
    padding: 22px;
    padding-top: 18px;
    color: white;
    border-radius: 9px;
  }

  h5.p-tag1 {
    margin-left: 17%;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
  }

  a {
    color: black;
    font-weight: 500;
    font-size: 27px;
    margin-left: 17%;
  }
}
