* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 6px;
}

button.btn.main-btn {
  background-color: #fab534;
  padding: 0 !important;
  margin-left: 10px;
}

.navbar a:hover {
  background: #05a68b;
  color: #fff;
  border-radius: 25px;
}

#img:hover {
  background-color: #fff;
}
#button:hover {
  background: #fab534;
  color: #000;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 17px !important;
}

.sub-btn {
  border-radius: 10px;
  background-color: #f8b434;
  color: #000 !important;
  font-size: 16px;
  padding: 0px 20px;
  line-height: 10px;
  padding-left: 1px;
}

.image-elemant-2 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  margin-left: 15px;
  margin-bottom: 40px;
}

.box {
  margin: 0px;
  padding: 7px;
  background-color: #dafff2;
  border-style: solid;
  border-width: 1px;
  border-color: #00a98a;
  border-radius: 8px;
  display: inline-block;
}

.home h1 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}
*/

/* slider styling */
.left_arrow {
  position: absolute;
  top: 105%;
  width: 30px;
  background: #373333;
  left: 48%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.right_arrow {
  position: absolute;
  top: 105%;
  width: 30px;
  background: #373333;
  left: 52%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

/* slider2 styling */

.left_arrow1 {
  position: absolute;
  top: 48%;
  width: 30px;
  background: #373333;
  left: 1%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.right_arrow1 {
  position: absolute;
  top: 48%;
  width: 30px;
  background: #373333;
  left: 97%;
  border-radius: 50%;
  padding: 9px;
  height: 34px;
  color: #fff;
  cursor: pointer;
}

.slick-initialized .slick-slide {
  display: block;
  padding-left: 30px;
}

.experience-ps {
  padding: 0 5.2rem;
}

.card-border {
  border: 2px solid #004c3d;
}

.gray-light {
  background-color: #e3e0e0;
  border-radius: 25px;
  padding: 0.5rem;
}
*/

/* footer styling */
 .footer .title h4 {
  font-size: 17px !important;
}

.footer .title ul li {
  padding-bottom: 10px;
}

.footer .title ul li a {
  text-decoration: none;
  color: white;
}

.footer .title ul li a:hover {
  text-decoration: underline;
}

.social-icon ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.social-icon-bottom ul {
  display: inline;
}

.country ul li {
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  float: left;
  padding: 0px 9px;
  border-right: 3px solid #fff;
}

h2.logo1 {
  text-align: center;
  font-size: 34px;
  color: white;
  padding-top: 40px;
  font-family: sans-serif;
}

h3.logo2 {
  text-align: center;
  font-size: 23px;
  color: #cbf2e4;
  font-family: sans-serif;
}

.button-png {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

button.png {
  padding: 16px 46px;
  font-size: 15px;
  font-family: sans-serif;
  border: 0px solid;
  border-radius: 10px;
  background-color: #fab354;
}

.image-elemant-2 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  margin-left: 15px;
  margin-bottom: 40px;
}

.image-elemant-2 img {
  width: 11%;
  height: auto;
  margin: 5px;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-button {
  background-color: #f8f9fa;
  color: #212529 !important;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.accordion-body {
  font-size: 17px;
  font-weight: 600;
}

.box {
  width: 65%;
  text-align: center;
  background-color: white;
  border: 0.5px solid grey;
  border-left: 0;
  border-bottom: 0;
  border-radius: 20px;
  box-shadow: 3px 0 13px -1px grey;
}

h2.box-sizing {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: sans-serif;
  padding-top: 3rem;
}

.w3box {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  padding-top: 32px;
  font-weight: 600;
}

p.abc {
  margin-right: 23px;
  font-size: 17px;
  font-family: math;
}

/* pricing page styling */

.pricing {
  margin: 15px 0px 20px 0px;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #ffffff;
  border-radius: 20px;
  line-height: 30px;
}

/* pricing-section styling */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 54px;
  height: 32px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: #fab534;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 70px;
}

.plush-text {
  text-align: center;
  font-size: 15px;
  margin-top: 6px;
}

.plush-text h4 {
  color: #666;
  font-weight: 600;
  margin-bottom: 10px;
}

.price-content-box h5 span {
  font-size: 15px;
  font-weight: 400;
  display: block;
  color: #757575;
}

.price-content-box h5 span a {
  font-size: 16px !important;
  text-decoration: none;
}

.price-content-box h4 {
  font-weight: 600;
  font-size: 16px;
  padding-left: 10px;
}

.price-content-box h4 span {
  font-weight: 400;
  color: #757575;
}

.pricing-plan {
  width: 17rem;
  height: 60rem;
}

.emtag {
  font-size: 13px;
  line-height: 1.3;
  margin: 26px 0;
}

.price-fuature-list ul li {
  font-size: 14px;
  display: block;
  position: relative;
  padding-left: 45px;
  line-height: 18px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
}

.price-fuature-list ul li::before {
  background-image: url(s/list.png);
  width: 28px;
  height: 16px;
  content: "";
  display: block;
  position: absolute;
  left: 6%;
  background-repeat: no-repeat;
  background-size: contain;
  top: 8%;
}

.price-fuature-list ul li span {
  padding-left: 10px;
  font-weight: 600;
}

.pricing-text {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.btn-success {
  padding: 11px 60px;
  border-radius: 8px;
  background-color: #00a489;
  font-size: 19px;
  font-weight: 600;
}
