@media (max-width: 1300px) {
}

@media (max-width: 1230px) {
}

@media (max-width: 1070px) {
}

@media (max-width: 992.5px) {
  .pricing-plan {
    margin-right: 10px;
    margin-top: 20px;
  }

  .box1 {
    padding-top: 3rem;
  }

  .about-frame {
    height: 32vh;
  }

  .slider1 {
    width: 333px !important;
  }

  .left_arrow3 {
    display: none !important;
  }
  .right_arrow3 {
    display: none !important;
  }

  .iframe {
    width: 100% !important;
  }

  .left_arrow {
    left: 44%;
  }

  .right_arrow {
    left: 56%;
  }
}

@media (max-width: 675px) {
  .main {
    padding: 0;
  }

  .pricing-plan {
    margin-right: 0px !important;
    margin-top: 20px;
  }

  .pricing-plan {
    height: 50rem;
  }

  .box {
    width: 100%;
  }

  #icon {
    display: block !important;
  }

  .footermb {
    columns: 2;
    text-align: left !important;
  }

  .left_arrow3 {
    position: absolute;
    top: 48%;
    width: 30px;
    left: 3%;
    border-radius: 50%;
    padding: 9px;
    height: 34px;
    color: #000;
    cursor: pointer;
    z-index: 1;
    display: block !important;
  }

  .right_arrow3 {
    position: absolute;
    top: 48%;
    width: 30px;
    display: block !important;
    left: 88%;
    border-radius: 50%;
    padding: 9px;
    height: 34px;
    color: #000;
    cursor: pointer;
  }

  .box2 {
    padding-top: 3rem;
  }

  .officialmb {
    padding-top: 1rem;
  }

  .lifemb {
    padding-top: 1rem;
  }

  .light {
    display: none !important;
  }
}

@media (max-width: 993px) {
}
