<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integrations</title>
  <!-- custom css link -->

  <link rel="stylesheet" href="../css/e-commecre.css" />
  <!-- Bootstrap CSS link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

  <!--  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>

</style>

<body>
  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a href="../Templates/Index.html" id="img"><img src ="../images/logo.jpg" width="200px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" id="myDropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Solution</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a href="">By Industries &raquo</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="../Templates/b2b.html">B2B</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="../Templates/solution_cosmetic_page.html">Beauty & cosmetics
                      Brands</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="../Templates/solution_spa_saloons.html">Spas and Salons</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="">By Features »</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="../Templates/e-commerce.html">e-commerce</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Integration.html">Integration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Templates/Pricing.html">Pricing</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link">Resources</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="../Templates/AboutUs.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Login.html">Login</a>
          </li>
        </ul>
        <button class="btn main-btn p-3" type="submit">
          <a id="button" href="../Templates/TrialPage.html">Start Free trial</a>
        </button>
      </div>
    </div>
  </nav>


  <section class="commerce">
    <div class="container">
      <div class="solution-com">
        <div class="Business Grow" style="width: 50%;">
          <h1 class="grow-1"><span class="sell">Sell on <span class="grow0" style="color: green;">
                WhatsApp</span></span><br>
            <span class="bussiness-1">& Watch Your D2C Business Grow</span><br>
            Exponentially!
          </h1>

          <p class="grow.creat">Create your shop on WhatsApp today and help your customers<br>
            discover your product catalog & make purchases directly on their<br>
            favorite messaging platform- WhatsApp</p>

          <a href="TrialPage.html"><button class="grow-btn">Try VyaparVriddhi for Free</button></a><a href="Live-demo.html"><button class="getlive">Get live Demo</button></a>
        </div>
        <div class="Business Grow" style="width: 50%;">
          <img class="gif.img" src="../images/whats_app_crm.gif">
        </div>
      </div>
  </section>


  <!-- <section class="grow-logo">
    <div class="grow-tag">
        <div class="customer">
            <h3 class="customer-1">Happy Customers</h3>
            <h3 class="cust-0">Join the league of 1000+ fast growing businesses using WhatsApp for Growth!</h3>
        </div>
        <div class="customer-logo">
            <img src="../images/Alter_Resources_V2-removebg-preview.png">
            <img src="../images/cropped-logo_-_Copy-removebg-preview.png">
            <img src="../images/Group_-5-removebg-preview.png">
            <img src="../images/Group_-9-removebg-preview.png">
            <img src="../images/Group_-7-removebg-preview.png">
        </div>
    </div>
  </section> -->

  <section class="section2-grow">
    <div class="container">
      <div class="grow-1section">
        <div class="Convert" style="width: 50%;">
          <h3 class="conver-1" style="font-size: 35px;margin-top: 15%;">Create Conversational Flows that<br> Convert
          </h3>
          <p class="convert-0"><b>Create event-based workflows on WhatsApp </b>to guide your<br>
            customers through various processes like appointment booking,<br>
            new registrations, etc.</p>
          <button class="Learn More">Learn More</button>
        </div>

        <div class="Convert" style="width: 50%;">
          <img class="convert-img" src="../images/WhatsApp-Image2.jpeg">
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="Manage Sales">
      <div class="sale-communiction" style="width: 50%;">
        <img class="Manage Sales-img" src="../images/whatsapp_img3.png">
      </div>


      <div class="sale-communiction" style="width: 50%;">
        <h3 class="manage-h1" style="font-size: 35px;margin-top: 7%;">Manage Sales on WhatsApp</h3>
        <p class="ptag-manage" style="font-size: 18px;"><b>Enable </b>your <b>customers to discover, select, and buy
            products</b><br>
          from your business’ inventory on WhatsApp.</p>
        <p class="ptag-manage" style="font-size: 18px;"><b>Include up to 30 products</b> along with images,
          descriptions, prices,<br>
          and more <b>in a single message.</b></p>
        <button class="Learn More">Learn More</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="catalogs">
      <div class="catlogs-scale" style="width: 50%;">
        <h3 class="scale-1" style="font-size: 35px; margin-top: 20%;">Send Product catalogs at Scale</h3>
        <p class="scale-ptag" style="font-size: 18px; margin-top: 36px;">Send product catalogs to 1000s of opted-in
          customers on<br>
          WhatsApp as part of-</p>
        <p class="scale-ptag" style="font-size: 18px;"><b>Automated Notification Campaigns </b>when a customer <br>
          abandons cart /places order etc.</p>
        <p class="scale-ptag" style="font-size: 18px;"><b>Custom Auto replies</b> for FAQs, welcome/out of office
          message,<br>
          or for delay in response during work hours etc.</p>
      </div>

      <div class="catlogs-scale" style="width: 50%;">
        <img class="scale-img" src="../images/whatsapp_crm4.png">
      </div>
   </div>
  </div>


  <div class="container">
    <div class="WhatsApp Carts">
      <div class="carts-img" style="width: 50%;margin-left: 48px;">
        <img class="cart-img" src="../images/whatsapp_crm5.png">
      </div>

      <div class="carts-img" style="width: 50%;">
        <h3 class="carts-h3">Convert WhatsApp Carts<br>
          into Shopify Carts</h3>

          <p class="carts-ptag">Share your Shopify catalog on WhatsApp and automatically direct<br>
                                customers to a pre-filled cart on your Shopify website for a checkout!</p>
                                <button class="vedio-1">Watch Vedio</button>
      </div>
    </div>
  </div>


  <div class="container">
      <div class="shopping-enable">
        <div class="enable-1" style="width: 50%;">
          <img class="enable-img" src="../images/whatsapp_crm6.png">
        </div>
         
        <div class="enable-1" style="width: 50%;">
          <h3 class="enable-h3">Enable end-to-end <br>shopping journeys<span class="enable0"><button class="new">New!</button></span></h3>
            <p class="enable-ptag">Let your customers browse through your Shopify/WooCommerce<br>
                                   product catalogs on WhatsApp itself and send you orders to facilitate<br>
                                    frictionless payments, and manage the entire order placement &<br>
                                     fulfillment process on WhatsApp itself.</p>
        </div>

      </div>
  </div>

  <div class="container">
    <div class="customer-1">
      <h3 class="customer-tag3" style="text-align: center;  margin-top: 4%; font-size: 30px;">Why VyaparVriddhi with Customers on<span class="covrtaion-wtag" style="color: #23b195;"> WhatsApp </span> ?</h3>
    </div>
    <div class="convercation-rate">
      <div class="rate-0">
        <h4 class="conver-rate">Higher Conversion <br>Rates</h4>
        <p class="convercation-ptag">Create WhatsApp storefront for your <br>business & grow your business faster</p>
      </div>

      <div class="rate-1">
        <h4 class="conver-rate">Better Customer<br> Experience</h4>
        <p class="convercation-ptag">Engage with your customers at times<br> convenient to them with actionable<br> rich media messages.</p>
      </div>

      <div class="rate-1">
        <h4 class="conver-rate">Seamless Business<br>
          Integrations</h4>
        <p class="convercation-ptag">Integrate WhatsApp with your existing<br> e-stores, CRMs such as Shopify,<br> Woocommerce,, FB Leads etc.
        </p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="trybut">
      <h3 class="Features">Turbocharge Your Business Growth with VyaparVriddhi<br> Power-packed Features</h3>
    </div>

    <div class="icon-Features">
      <div class="icon-tag1">
        <i class="fa fa-whatsapp" style="font-size:36px"></i>
        <h4 class="tag3-growth">Share Product<br>Catalogs at Scale</h4>
        <p class="featurs-0">Send product catalogs at scale to customers<br> on WhatsApp as part of campaigns & auto<br>-replies</p>
      </div>

      <div class="icon-tag2">
        <i class='fas fa-check-double' style='font-size:36px'></i>
        <h4 class="tag3-growth">Green Tick<br>
          Verification</h4>
        <p class="featurs-0">VyaparVriddhi helps you apply for the Green tick on<br> WhatsApp alongside your brand name to help<br> you build credibility</p>
      </div>

      <div class="icon-tag3">
        <i class='fas fa-bullhorn' style='font-size:36px'></i>
        <h4 class="tag3-growth">Send Bulk Campaigns<br> & Broadcasts</h4>
        <p class="featurs-0">Set up one-time or recurring campaigns to<br> engage your customers and sell more.<br> Monitor campaign performance & optimize <br>for conversions</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="CatalogsCarts">
      <h3 class="learnabout">Learn More About WhatsApp Catalogs & Carts</h3>
    </div>

  </div>

  <section>
    <div class="container">
      <div main class="element-html">
        <div class="box-tag">
             <h2 class="box-sizing">Get Started with VyaparVriddhi Today</h2>
          <div class="w3box">
            <p class="abc">Drive Sales & Customer Experience </p>
            <p class="abc">No Set-up Costs</p>
            <p class="abc">No Surcharge on Notificationss</p>
          </div>
            <a href="TrialPage.html"><button class="botton-element">Try VyaparVriddhi For Free
            </button></a>
           <h2 class="element-tag">Get More Question?</h2>
           <a href="Live-demo.html" ><button class="button0tag">Get A Live Demo</button></a>
        </div>
      </div>
    </div>
  </section>

   <!-- footer section -->
   <section class="footer" style="background: #014d3e ;">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="row pt-5 mt-5">
          <div class="col-lg-5 col-md-6 text-white">
            <img src="../images/vyapar_img.png" alt="logo" width="200" />
            <!-- <div class="jioproduct">
              <img src="../images/footer img 2.png" width="290" class="pt-3" />
            </div>
            <div class="jioproduct">
              <img src="../images/footer img 3.png" width="290" class="pt-3" />
            </div> -->
            <div class="footer-text pt-2">
              <p class="text-white" style="font-size: 17px">
                VyaparVriddhi is a Jio Haptik Product <br />Logo Building
                Intelligent Virtual Assistants for Businesses
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-white">
            <div class="title d-inline-block">
              <h4 class="mb-3">VyaparVriddhi</h4>
              <ul class="list-unstyled">
                <li><a href="Live-demo.html">Get a Live Demo</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Partner with Us</a></li>
                <li><a href="#">Privacy Policyo</a></li>
                <li><a href="#">Terms & condition</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-white">
            <div class="title d-inline-block">
              <h4 class="mb-3">Quick Help Links</h4>
              <ul class="list-unstyled">
                <li><a href="#">Blogs</a></li>
                <li><a href="#">FAQ’s</a></li>
                <li><a href="#">Case Studies</a></li>
                <li><a href="#">Resource Center</a></li>
                <li><a href="#"> Academy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-white">
            <div class="title d-inline-block">
              <h4 class="mb-3">Why VyaparVriddhi</h4>
              <ul class="list-unstyled">
                <p>VyaparVriddhi vs. Aisensy</p>
                <p>VyaparVriddhi vs. Bitespeed</p>
                <p>VyaparVriddhi vs. Delightchat</p>
                <p>VyaparVriddhi vs. Limechat</p>
                <p>VyaparVriddhi vs. Businessonbot</p>
                <!-- <p>Businessonbot</p> -->
              </ul>
              <div class="social-icon">
                <ul class="list-unstyled">
                  <li>
                    <a href="#"><img src="../images/Youtube icon.webp" width="30px" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="../images/Twitter icon.webp" width="30px" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="../images/facebook icon.webp" width="30px" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="../images/Instagam icon.webp" width="30px" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img src="../images/footer play img.webp" width="40px" class="ps-3" />
              <img src="../images/footer apple logo.webp" width="40px" class="ps-3" />
              <img src="../images/footer sotify logo.webp" width="40px" class="ps-3" />
            </div>
            <div class="col-lg-12 text-center">
              <h4 class="pt-3 text-white">
                India 
              </h4>
            </div>
            <!-- <div class="col-lg-12 text-center text-white pt-3">
              <span>Copyright © Jio Haptik Technologies Limited 2022 | All
                rights</span>
              reserved
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https:/cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</html>