<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="../anand/css/Style.css" /> -->
  <link rel="stylesheet" href="https:/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../css/Login.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a href="../Templates/Index.html" id="img"><img src="../images//logo.jpg" width="200px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupporteddContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupporteddContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Integration.html">Integration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Pricing.html">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/AboutUs.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Login.html">Login</a>
          </li>
        </ul>
        <button class="btn main-btn" type="submit">
          <a href="../Templates/TrialPage.html" id="button"> start Free Trial</a>
        </button>
      </div>
    </div>
  </nav>


  <section class="main-section" style="margin-top: 110px;">
    <div class="container">
      <div class="sing-in-1">
        <h3 class="h1-signin-0">SIGN IN</h3>
      </div>

      <div class="icon-section">
        <img class="google" src="https:/cdn.imgbin.com/17/10/21/google-suite-icon-google-icon-LmAAJV07.jpg" width="25"
          height="25" />
        <h4>Sign in with Google</h4>
      </div>

      <div main class="border-section">
        <div class="borderes"></div>
        <h4 class="h4-section">OR, SIGN IN WITH EMAIL</h4>
        <div class="borderes"></div>
      </div>

      <form>
        <input type="text" id="Email Address" name="Email Address" value="Email Address" /><br />

        <input type="text" id="Password" name="Password" value="Password" /><br />
      </form>

      <div class="sign-inside">
        <h4 class="in-sign">Sign in</h4>
      </div>

      <div class="paragraph-signin">
        <h5 class="p-tag1">
          Forgot Password?<br />
          Your Password was emailed to you when the account was Created.
        </h5>

        <a href="https:/www.interakt.shop/" target="blank">Click here to reset</a>
      </div>
    </div>
  </section>
</body>

<script src="https:/cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
crossorigin="anonymous"></script>
<script src="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>

</html>