<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- *fontlink -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </link>
  <!-- *boostrap link  -->
  <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

  <!-- <link rel="stylesheet" href="../anand/css/Style.css" /> -->
  <title>WhatsApp business solution for B2B sales</title>
  <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/solution_cosmetic_css.css">
</head>


<body>
  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a href="../Templates/Index.html" id="img"
        ><img src="../images/logo.jpg" width="200px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" id="myDropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              >Solution</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a href="">By Industries &raquo</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="../Templates/b2b.html"
                      >B2B</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="../Templates/solution_cosmetic_page.html"
                      >Beauty & cosmetics Brands</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="../Templates/solution_spa_saloons.html"
                      >Spas and Salons</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Integration.html"
              >Integration</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Templates/Pricing.html">Pricing</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link">Resources</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="../Templates/AboutUs.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/Login.html">Login</a>
          </li>
        </ul>
        <button class="btn main-btn p-3" type="submit">
          <a id="button" href="../Templates/TrialPage.html"
            >Start Free trial</a
          >
        </button>
      </div>
    </div>
  </nav>

      <section class="template_1">
        <div class="container">
          <div class="disply-template">
            <div class="bussiness-p1"style="width; 50%">
              <h1 class="h1_tempalte">Unlock the potential of<br> WhatsApp Business for<br> your Beauty & <br>Cosmetics
                brand</h1>

              <div class="solution_check">
                <i class="fa fa-check" style="font-size:22px"></i>
                <p>Showcase your products with WhatsApp storefront</p>
              </div>

              <div class="solution_check">
                <i class="fa fa-check" style="font-size:22px"></i>
                <p>Send discount & offers to 1000s of customers</p>
              </div>

              <div class="solution_check">
                <i class="fa fa-check" style="font-size:22px"></i>
                <p>Stay connected 24*7 with WhatsApp automation</p>

              </div>
              <button class="try.inkart">Try Interakt for Free</button><button class="get_live">Get a live Demo</button>
            </div>


            <div class="bussiness-p1"style="width; 50%">
              <img class="temt-img" src="../images/cosmetic_1.webp">
            </div>
          </div>
        </div>
      </section>


      <div class="container">
        <h3 class="fafa-icon-p">Create delightful experiences on WhatsApp</h3>
        <div class="icon-fafaicon">
          <div class="fa-solution">
            <i class='fa fa-mouse-pointer' style='font-size:24px'></i>
            <h3 class="Acquire"><span class="tag">Acquire</span><br>Integrate your website with Interakt’s WhatsApp
              Business Platform & streamline business operations. Answer FAQs via custom auto-replies<br>
              and help customers in making the right purchase decisions</h3>
          </div>

          <div class="fa-solution">
            <i class="fa fa-envelope-square" style="font-size:24px"></i>
            <h3 class="Acquire"><span class="tag">Convert</span><br>Upsell & Cross-sell with personalized beauty &
              cosmetics
              recommendations on WhatsApp. Send payment links for quick settlements</h3>
          </div>

          <div class="fa-solution">
            <i class="fa fa-smile-o" style="font-size:24px"></i>
            <h3 class="Acquire"><span class="tag">Delight</span><br>Solve customer queries & support them at scale on
              WhatsApp. Gather ratings/feedback from clients using WhatsApp automated flows</h3>
          </div>

          <div class="fa-solution">
            <i class="fa fa-bell" style="font-size:24px"></i>
            <h3 class="Acquire"><span class="tag">Engage</span><br>Send new launch & festive sale offers to drive sales.
              Send regular tips on how to use beauty & cosmetics products for the ones they bough

            </h3>
          </div>
        </div>
      </div>

        <div class="container">
      <div class="elemnt_h1">
        <h3 class="element_10">How to use WhatsApp Business API to grow your business</h3>
        <p class="element-ptag" style="font-size: 16px;">The beauty and cosmetics industry is growing at a rapid annual
          compounded growth rate of 4.75% worldwide,<br>
          with more brands joining the league to meet consumer demand. See how leading brands use WhatsApp<br>
          Business API to acquire, convert and engage online shoppers in the rising competition.</p>
      </div>
    </div>

      <section class="solution_cosmetic">
        <div class="container">
          <div class="disply-cosmetics">
            <div class="cosmetic-p1" style="width :50%">
              <h1 class="h1_cosmetic">Acquire new customers for your<br> Beauty & Cosmetic brand</h1>

              <div class="cosmetics_icon">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p> Run click to WhatsApp ads to capture consumer information and intent</p>
              </div>

              <div class="cosmetics_icon">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Use a website WhatsApp widget to initiate conversations</p>
              </div>

              <div class="cosmetics_icon">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Use QR codes in print ads and packaging to get opt-ins</p>
              </div>

              <div class="cosmetics_icon">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p> Share WhatsApp links on social media</p>
              </div>
              <a href="TrialPage.html"><button class="inkart_trial">Try for Free</button></a>
            </div>


            <div class="cosmetics-p1"style="width; 50%">
              <img class="cosmetics-img" src="../images/cosmetic_2.webp">
            </div>
          </div>
        </div>
      </section>



      <section class="section-product">
        <div class="container">
          <div class="cosmetic-section-3">

            <div class="templat_cosmetic"style="width; 50%">
              <img class="cosmetics0img" src="../images/cosmetic_3.webp">
            </div>

            <div class="templat_cosmetic"style="width; 50%">
              <h1 class="h1cosmeticsss">Don’t let high-intent online<br> shoppers slip away</h1>

              <div class="cosmetis_w3">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Create an automated welcome series to understand consumers better</p>
              </div>

              <div class="cosmetis_w3">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Share best-selling products and collections through WhatsApp catalog<br> messages</p>
              </div>

              <div class="cosmetis_w3">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Create checkout links and take payments for orders on WhatsApp</p>
              </div>

              <div class="cosmetis_w3">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Automate abandoned cart recovery messages to bring back lost shoppers</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="sec-product">
        <div class="container">
          <div class="cosmetic-section4">
            <div class="temp_cosmetic"style="width; 50%">
              <h1 class="h1cosmetic-page">Keep your shoppers engaged to<br> drive conversions</h1>

              <div class="cosmetis">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Set up WhatsApp broadcasts to share product launches, new collections<br> and offers</p>
              </div>

              <div class="cosmetis">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Promote customer testimonials and user generated content</p>
              </div>

              <div class="cosmetis">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Run contests and quizzes using interactive messages</p>
              </div>
              <a href="TrialPage.html"><button class="sing_today">Signup Today</button></a>
            </div>

            <div class="temp_cosmetic"style="width; 50%">
              <img class="cosmeticsproduct" src="../images/cosmetic_4.webp">
            </div>
          </div>
        </div>
      </section>


      <section class="product_0">
        <div class="container">
          <div class="cosmetic-section5">

            <div class="cosmeticss_p1"style="width; 50%">
              <img class="cosmeticcss_img" src="../images/cosmetic_5.webp">
            </div>

            <div class="cosmeticss_p1"style="width; 50%">
              <h1 class="h1tag_cosmetic">Offer personalized shopping <br>experience across customer <br>lifecycle to
                boost retention and<br> loyalty</h1>

              <div class="cosmetis-page_5">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Offer proactive customer support and assistance before, during and after<br> purchase</p>
              </div>

              <div class="cosmetis-page_5">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Set up automated transactional and order status alerts</p>
              </div>

              <div class="cosmetis-page_5">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Reduce NDRs and RTOs with automated delivery and shipping notifications</p>
              </div>

              <div class="cosmetis-page_5">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Request product reviews, ratings and customer feedback on WhatsApp</p>
              </div>

              <div class="cosmetis-page_5">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>Share product how-to videos, lookbooks, makeup inspiration and more</p>
              </div>
              <a href="TrialPage.html"><button class="starttrial">Start for Free</button></a>
            </div>
          </div>
        </div>
      </section>

      <div class="container">
        <div class="cosmetics-pro-section">
        <div class="cosmetic-product-6"style="width; 50%";>
          <p class="italic_tag"><i><b>Isak</b> is a fragrance house dedicated to the<br>
                                 creation of unrivalled niche Indian artisanal<br>
                                  fragrances of rare notes and blends that<br>
                                   manufactures and extracts many of their own <br>
                                    essences using traditional infusion & distillation <br>
                                    techniques.</i></p>
                      <div class="hello_cosmetics">
                 <div class="w3section-cosmetic">

                         <div class="w3-tag-c">
                       <span class="nav-cosmetics">₹3.5L</span><br>
                        <span class="average-cosmetics">Revenue from<br> WhatsApp<br> campaigns in 3<br> months</span>
                 </div> <div class="w3-product">
                  <span class="nav-cosmetics">₹15X</span><br>
                    <span class="average-cosmetics">Returns on <br>campaign spends<br> (ROAS)</span>
                  </div> <div class="w3c_cosmetic">
              <span class="nav-cosmetics">₹1.3L</span><br>
               <span class="average-cosmetics">Revenue from<br> WhatsApp Catalog</span>
        </div>


        </div>
      </div>
         
        </div>
        <div class="cosmetic-product-6"style="width; 50%";>
          <img class="product-img6" src="../images/cosmetic_6.webp">
        </div>

        </div>
      </div>

       
      <div class="envelope-cosmetic">
        <h4 class="platform">Seamless integration with 15+ popular business platforms</h4>
        <div class="img-elemmmant_icon">
          <img class="frame_product" src="../images/Frame1.png" alt="Image 1">
          <img class="frame_product" src="../images/Frame2.png" alt="Image 2">
          <img class="frame_product" src="../images/Frame-3.png" alt="Image 3">
          <img class="frame_product" src="../images/Frame4.png" alt="Image 4">
          <img class="frame_product" src="../images/Frame5.png" alt="Image 5">
          <img class="frame_product" src="../images/Frame6.png" alt="Image 6">
          <img class="frame_product" src="../images/Frame7.png" alt="Image 7">
          <img class="frame_product" src="../images/Frame-8.png" alt="Image 8">
          <img class="frame_product" src="../images/Frame-9.png" alt="Image 9">
          <img class="frame_product" src="../images/Frame10.png" alt="Image 10">
          <img class="frame_product" src="../images/Frame11.png" alt="Image 11">
          <img class="frame_product" src="../images/Frame12.png" alt="Image 12">
          <img class="frame_product" src="../images/Frame13.png" alt="Image 13">
          <img class="frame_product" src="../images/Frame14.png" alt="Image 14">
          <img class="frame_product" src="../images/Frame15.png" alt="Image 15">
        </div>
      </div>
  


      <section class="se-product">
        <div class="container">
          <div class="cosmetic-1tag">
            <div class="temp_7img"style="width; 50%">
              <h1 class="h1cosmetic_0">Why use WhatsApp for beauty<br> and cosmetics eCommerce?</h1>

              <div class="cosmetis_tag10">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p> Wide demographic of users across the globe</p>
              </div>

              <div class="cosmetis_tag10">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p> Messages get read within 3 minutes of being sent</p>
              </div>

              <div class="cosmetis_tag10">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>98% open rate of WhatsApp broadcast and transactional messages</p>
              </div>

              <div class="cosmetis_tag10">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>45-57% average click through rate on messages</p>
              </div>

              <div class="cosmetis_tag10">
                <i class="fa fa-check-circle" style="font-size:24px"></i>
                <p>53% higher customer engagement rate across the buyer cycle</p>
              </div>
            </div>

            <div class="temp_7img"style="width; 50%">
              <img class="cosmeticimg_0" src="../images/cosmetic_7.jpg">
            </div>
          </div>
        </div>
      </section>


      <section class="redius_section">
        <div class="container-fluid">
            <div class="radius-tag">

              <div class="radius-1tag">
                <h3 class="cosmetics-brand">Sell more and grow your beauty<br> and cosmetics brand online with<br> WhatsApp.</h3>
                <h5 class="brand-1">Get started with the WhatsApp Business API using VyaparVriddhi today</h5>
                <a href="TrialPage.html"><button class="starttrial">Start for Free</button></a>
                <h6 class="brand_2" style="margin-top: 8px;"><i>No Credit Card Required*</i></h6>
              </div>

              <div class="radius-1tag"style="width; 50%">
                <img class="brand-img" src="../images/cosmetic_8.png">
              </div>
            </div>
        </div>
      </section>

        <!-- */box sizing code*/ -->

        <section>
          <div class="container">
            <div main class="element-html">
              <div class="box">
                   <h2 class="box-sizing">Get Started with VyaparVriddhi Today</h2>
                <div class="w3box">
                  <p class="abc">Drive Sales & Customer Experience </p>
                  <p class="abc">No Set-up Costs</p>
                  <p class="abc">No Surcharge on Notificationss</p>
                </div>
                  <a href="TrialPage.html"><button class="botton-element">Try VyaparVriddhi For Free
                  </button></a>
                 <h2 class="element-tag">Get More Question?</h2>
                 <a href="Live-demo.html" ><button class="button0tag">Get A Live Demo</button></a>
              </div>
            </div>
          </div>
        </section>
  
        <!-- footer section -->
        <section class="footer" style="background: #014d3e ;">
          <div class="container-fluid p-0">
            <div class="container">
              <div class="row pt-5">
                <div class="col-lg-5 col-md-6 text-white">
                  <img src="../images/vyapar_img.png" alt="logo" width="200" />
                  <!-- <div class="jioproduct">
                    <img src="../images/footer img 2.png" width="290" class="pt-3" />
                  </div>
                  <div class="jioproduct">
                    <img src="../images/footer img 3.png" width="290" class="pt-3" />
                  </div> -->
                  <div class="footer-text pt-2">
                    <p class="text-white" style="font-size: 17px">
                      VyaparVriddhi is a Jio Haptik Product <br />Logo Building
                      Intelligent Virtual Assistants for Businesses
                    </p>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 text-white">
                  <div class="title d-inline-block">
                    <h4 class="mb-3">VyaparVriddhi</h4>
                    <ul class="list-unstyled">
                      <li><a href="Live-demo.html">Get a Live Demo</a></li>
                      <li><a href="AboutUs.html">About Us</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Partner with Us</a></li>
                      <li><a href="#">Privacy Policyo</a></li>
                      <li><a href="#">Terms & condition</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 text-white">
                  <div class="title d-inline-block">
                    <h4 class="mb-3">Quick Help Links</h4>
                    <ul class="list-unstyled">
                      <li><a href="#">Blogs</a></li>
                      <li><a href="#">FAQ’s</a></li>
                      <li><a href="#">Case Studies</a></li>
                      <li><a href="#">Resource Center</a></li>
                      <li><a href="#"> Academy</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-white">
                  <div class="title d-inline-block">
                    <h4 class="mb-3">Why VyaparVriddhi</h4>
                    <ul class="list-unstyled">
                      <p>VyaparVriddhi vs. Aisensy</p>
                      <p>VyaparVriddhi vs. Bitespeed</p>
                      <p>VyaparVriddhi vs. Delightchat</p>
                      <p>VyaparVriddhi vs. Limechat</p>
                      <p>VyaparVriddhi vs. Businessonbot</p>
                      <!-- <p>Businessonbot</p> -->
                    </ul>
                    <div class="social-icon">
                      <ul class="list-unstyled">
                        <li>
                          <a href="#"><img src="../images/Youtube icon.webp" width="30px" /></a>
                        </li>
                        <li>
                          <a href="#"><img src="../images/Twitter icon.webp" width="30px" /></a>
                        </li>
                        <li>
                          <a href="#"><img src="../images/facebook icon.webp" width="30px" /></a>
                        </li>
                        <li>
                          <a href="#"><img src="../images/Instagam icon.webp" width="30px" /></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <img src="../images/footer play img.webp" width="40px" class="ps-3" />
                    <img src="../images/footer apple logo.webp" width="40px" class="ps-3" />
                    <img src="../images/footer sotify logo.webp" width="40px" class="ps-3" />
                  </div>
                  <div class="col-lg-12 text-center">
                    <h4 class="pt-3 text-white">
                      India 
                    </h4>
                  </div>
                  <!-- <div class="col-lg-12 text-center text-white pt-3">
                    <span>Copyright © Jio Haptik Technologies Limited 2022 | All
                      rights</span>
                    reserved
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
  
  
  </body>
  <script src="https:/cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  
  </html>