<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- *fontlink -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </link>
  <!-- *boostrap link  -->
  <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

  <title>WhatsApp business solution for B2B sales</title>
  <link href="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/solution_page_.css">
</head>



<body>
  <div class="container-fluid p-1">
    <div class="container main">
      <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <a href="../Templates/Index.html" class="p-0" id="img"><img src="../images/logo.jpg" width="200px" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Solution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Templates/Integration.html">Integration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Templates/Pricing.html">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Templates/AboutUs.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../Templates/Login.html">Login</a>
              </li>
            </ul>
            <button class="btn main-btn p-3" type="submit">
              <a id="button" href="../Templates/TrialPage.html"> start Free Trial</a>
            </button>
          </div>
        </div>
      </nav>
    </div>
    <div>

      <section class="template-solution">
        <div class="container">
          <div class="disply-solution">
            <div class="bussiness-ptag"style="50%">

              <h1 class="solution-1st">Close your B2B sales<br> cycle faster with<br> WhatsApp</h1>

              <div class="icon-solution">
                <i class="fa fa-check" style="font-size:22px"></i>
                <p>Share product/ service information via catalogs</p>
              </div>

              <div class="icon-solution">
                <i class="fa fa-check" style="font-size:22px"></i>
                <p>Offer 24x7 technical support with WhatsApp automation</p>
              </div>

              <div class="icon-solution">
                <i class="fa fa-check" style="font-size:22px"></i>
                <p>Set up auto payment reminders on WhatsApp for subscription renewals</p>
              </div>
              <a href="TrialPage.html"><button class="try.inkart">Try Interakt for Free</button><button class="get_live">Get a live Demo</button></a>
            </div>

            <div class="bussiness-ptag"style="50%">
              <img class="b2b img" src="../images/hero-1_solution.webp">
            </div>
          </div>
        </div>
      </section>

      <!-- <div class="container">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../images/client 1.png" alt="Los Angeles" class="d-block" style="width:100%">
        </div>
        <div class="carousel-item">
          <img src="../images/client 3.png" alt="Chicago" class="d-block" style="width:100%">
        </div>
        <div class="carousel-item">
          <img src="../images/client 4.png" alt="New York" class="d-block" style="width:100%">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    
    </div> -->

      <div class="bg-solution">
        <h2 class="h3-solution">Turn B2B buyers into customers through WhatsApp conversations</h2>
        <h4 class="h4-solution">Interakt is trusted by 5000+ fast-growing SMBs across different verticals</h4>
      </div>


      <div class="container">
        <div class="icon-heading">
          <div class="fafa-solution">
            <i class='fa fa-mouse-pointer' style='font-size:24px'></i>
            <h3 class="Acquire-tag"><span class=font-tag>Acquire</span><br>integrate Google & FB Leads form to obtain
              leads. Answer FAQs via custom auto-replies to solve queries quickly&<br> efficiently</h3>
          </div>

          <div class="fafa-solution">
            <i class="fa fa-envelope-square" style="font-size:24px"></i>
            <h3 class="Acquire-tag"><span class=font-tag>Convert</span><br>Setup automated & personalized WhatsApp
              notifications to send offers & discount. Invite brands for free KT sessions<br> and webinars via WhatsApp
              Broadcast</h3>
          </div>

          <div class="fafa-solution">
            <i class="fa fa-smile-o" style="font-size:24px"></i>
            <h3 class="Acquire-tag"><span class=font-tag>Delight</span><br>Support clients at scale on WhatsApp. Gather
              ratings/feedback from clients using WhatsApp automated flows</h3>
          </div>

          <div class="fafa-solution">
            <i class="fa fa-bell" style="font-size:24px"></i>
            <h3 class="Acquire-tag"><span class=font-tag>Engage</span><br>Send payment invoices & regular account
              updates. Send product & company updates to keep the customers updated<br> on new developments</h3>
          </div>
        </div>
      </div>


      <section class="solution-img">
        <div class="container">
          <div class="flex-solution">
            <div class="ptag-1st"style="50%">
              <h3 class="marketing">Capture more leads with<br> WhatsApp marketing and ad<br> campaigns.</h3>
              <i class="fa fa-dot-circle-o"><span>Run click-to-WhatsApp ads for higher customer acquisition
                  rates</span></i><br>
              <i class="fa fa-dot-circle-o"><span>conversations with website WhatsApp widget</span></i><br>
              <i class="fa fa-dot-circle-o"><span>Share WhatsApp links on social media to get discovered
                  online</span></i><br>
              <a href="../Templates/TrialPage.html"><button class="try_for">Try For Free</button></a>
            </div>

            <div class="bussiness-img">
              <img class="b2b0-img" src="../images/solution_page_img2.webp">
            </div>
          </div>
        </div>
      </section>


      <div class="img-paragraph">
        <div class="solution-page-1img"style="50%">
          <img class="wechat" src="../images/solution_page3.webp">
        </div>
        <div class="page-1-paragraph"style="50%">
          <h3 class="b2b-whatsapp">Prevent B2B leads from dropping<br> off by setting up WhatsApp<br> automations.</h3>
          <i class="fa fa-dot-circle-o"><span class="click">Follow up with leads using welcome automation</span></i><br>
          <i class="fa fa-dot-circle-o"><span class="click">Send out success stories / case studies and
              testimonials</span></i><br>
          <i class="fa fa-dot-circle-o"><span class="click">Follow up to offer more assistance to B2B
              buyers</span></i><br>
        </div>
      </div>

      <div class="container">
        <div class="section-solution">
          <div class="page-paragraph"style="50%">
            <h3 class="convercation">Nudge your nurtured leads to<br> move ahead in the sales funnel<br> for more
              conversions.</h3>
            <i class="fa fa-dot-circle-o"><span class="click-solution">Accept payments on WhatsApp using frictionless
                payment integration</span></i><br>
            <i class="fa fa-dot-circle-o"><span class="click-solution">Offer product/service onboarding through
                automated workflows</span></i><br>
            <i class="fa fa-dot-circle-o"><span class="click-solution">Schedule product/service set up to converted
                buyers</span></i><br>
            <a href="../Templates/TrialPage.html"><button class="try_for">Try For Free</button></a>
          </div>

          <div class="solution-tag1"style="50%">
            <img class="wecha0" src="../images/solution_img4.webp">
          </div>
        </div>
      </div>


      <div class="section-1page">
        <div class="phon-img"style="50%">
          <img class="phone-o" src="../images/solution_img5.webp">
        </div>

        <div class="solution-p0tag"style="50%">
          <h3 class="convercation">Keep your customers engaged<br> with frequent conversations <br>using WhatsApp
            automations.</h3>
          <i class="fa fa-dot-circle-o"><span class="click-tag-1">Send regular training videos to upskill users for your
              product/service</span></i><br>
          <i class="fa fa-dot-circle-o"><span class="click-tag-1">Share company newsletter WhatsApp customers apprised
              new developments</span></i><br>

        </div>
      </div>


      <div class="container">
        <div class="section-tag3">
          <div class="page-paraagraph"style="50%">
            <h3 class="automation">Use WhatsApp as a channel to<br>
              continually delight your<br>
              customers through interactive<br>
              messages and automations.</h3>
            <i class="fa fa-dot-circle-o"><span class="click-w3" style="font-family: math;">Send product / service
                reports using media files</span></i><br>
            <i class="fa fa-dot-circle-o"><span class="click-w3" style="font-family: math;">Follow up to offer more
                assistance to customers</span></i><br>
            <i class="fa fa-dot-circle-o"><span class="click-w3" style="font-family: math;">Gather customer feedback and
                insights using interactive messages​</span></i><br>
          </div>

          <div class="w3-img"style="50%">
            <img class="wechat-section" src="../images/solution_img6.webp">
          </div>
        </div>
      </div>


      <div class="envelope">
        <h4 class="platform">Seamless integration with 15+ popular business platforms</h4>
        <div class="img-elemmmant-2">
          <img class="frame_w3" src="../images/Frame1.png" alt="Image 1">
          <img class="frame_w3" src="../images/Frame2.png" alt="Image 2">
          <img class="frame_w3" src="../images/Frame-3.png" alt="Image 3">
          <img class="frame_w3" src="../images/Frame4.png" alt="Image 4">
          <img class="frame_w3" src="../images/Frame5.png" alt="Image 5">
          <img class="frame_w3" src="../images/Frame6.png" alt="Image 6">
          <img class="frame_w3" src="../images/Frame7.png" alt="Image 7">
          <img class="frame_w3" src="../images/Frame-8.png" alt="Image 8">
          <img class="frame_w3" src="../images/Frame-9.png" alt="Image 9">
          <img class="frame_w3" src="../images/Frame10.png" alt="Image 10">
          <img class="frame_w3" src="../images/Frame11.png" alt="Image 11">
          <img class="frame_w3" src="../images/Frame12.png" alt="Image 12">
          <img class="frame_w3" src="../images/Frame13.png" alt="Image 13">
          <img class="frame_w3" src="../images/Frame14.png" alt="Image 14">
          <img class="frame_w3" src="../images/Frame15.png" alt="Image 15">
        </div>
      </div>


      <div class="b2b-sales">
        <div class="b2b-paragraph"style="50%">
          <h3 class="b2b-cycle">Optimize your B2B sales cycle<br> and grow your business with<br> WhatsApp</h3>

          <a href="../Templates/TrialPage.html"><button class="start-try_for">Start your 14 day free trial
              today</button></a>
          <h5 class="list_typ" style="color: white;">14-day free trial - No credit card - No setup cost</h5>
        </div>

        <div class="solution-tag1"style="50%">
          <img class="wechat-solution" src="../images/solution_img_7.webp">
        </div>
      </div>

      <!-- */box sizing code*/ -->

      <section>
        <div class="container">
          <div main class="element-html">
            <div class="box">
                 <h2 class="box-sizing">Get Started with Interakt Today</h2>
              <div class="w3box">
                <p class="abc">Drive Sales & Customer Experience </p>
                <p class="abc">No Set-up Costs</p>
                <p class="abc">No Surcharge on Notificationss</p>
              </div>
                <a href="https:/www.interakt.shop/" target="blank"><button class="botton-element">Try Interakt For Free
                </button></a>
               <h2 class="element-tag">Get More Question?</h2>
               <a href="https:/www.interakt.shop/" target="blank"></a><button class="button0tag">Get A Live Demo</button>
            </div>
          </div>
        </div>
      </section>

      <!-- footer section -->
      <section class="footer" style="background: #014d3e ;">
        <div class="container-fluid p-0">
          <div class="container">
            <div class="row pt-5">
              <div class="col-lg-5 col-md-6 text-white">
                <img src="../images/logo-removebg-preview.png" alt="logo" width="250" />
                <div class="jioproduct">
                  <img src="../images/footer img 2.png" width="290" class="pt-3" />
                </div>
                <div class="jioproduct">
                  <img src="../images/footer img 3.png" width="290" class="pt-3" />
                </div>
                <div class="footer-text pt-2">
                  <p class="text-white" style="font-size: 17px">
                    Interakt is a Jio Haptik Product <br />Logo Building
                    Intelligent Virtual Assistants for Businesses
                  </p>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 text-white">
                <div class="title d-inline-block">
                  <h4 class="mb-3">Interakt</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Get a Live Demo</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Partner with Us</a></li>
                    <li><a href="#">Privacy Policyo</a></li>
                    <li><a href="#">Terms & condition</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 text-white">
                <div class="title d-inline-block">
                  <h4 class="mb-3">Quick Help Links</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Get a Live Demo</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Partner with Us</a></li>
                    <li><a href="#">Privacy Policyo</a></li>
                    <li><a href="#">Terms & condition</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-white">
                <div class="title d-inline-block">
                  <h4 class="mb-3">Why Interakt</h4>
                  <ul class="list-unstyled">
                    <p>Interakt vs. Bitespeed</p>
                    <p>interakt vs. Bitespeed</p>
                    <p>Interakt vs. Delightchat</p>
                    <p>Interakt vs. Limechat</p>
                    <p>Interakt vs.</p>
                    <p>Businessonbot</p>
                  </ul>
                  <div class="social-icon">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#"><img src="../images/Youtube icon.webp" width="30px" /></a>
                      </li>
                      <li>
                        <a href="#"><img src="../images/Twitter icon.webp" width="30px" /></a>
                      </li>
                      <li>
                        <a href="#"><img src="../images/facebook icon.webp" width="30px" /></a>
                      </li>
                      <li>
                        <a href="#"><img src="../images/Instagam icon.webp" width="30px" /></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="../images/footer play img.webp" width="40px" class="ps-3" />
                  <img src="../images/footer apple logo.webp" width="40px" class="ps-3" />
                  <img src="../images/footer sotify logo.webp" width="40px" class="ps-3" />
                </div>
                <div class="col-lg-12 text-center">
                  <h4 class="pt-3 text-white">
                    India | Singapore | Indonesia | USA | Philippines | Africa
                  </h4>
                </div>
                <div class="col-lg-12 text-center text-white pt-3">
                  <span>Copyright © Jio Haptik Technologies Limited 2022 | All
                    rights</span>
                  reserved
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


</body>
<script src="https:/cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https:/cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</html>

</html>