<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beauty & Cosmetics Brands</title>
    <!-- custom css link -->
    <link rel="stylesheet" href="../css/Respomsive.css" />
    <link rel="stylesheet" href="../css/Beauty&Cosmetics brand.css" />
    <!-- Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!--  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
      <div class="container">
        <a href="../Templates/Index.html" id="img"
          ><img src="../images/logo.jpg" width="200px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown" id="myDropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >Solution</a
              >
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <a href="">By Industries &raquo</a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li>
                      <a
                        class="dropdown-item"
                        href ="../Templates/b2b.html"
                        >B2B</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../Templates/solution_cosmetic_page.html"
                        >Beauty & cosmetics Brands</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../Templates/solution_spa_saloons.html"
                        >Spas and Salons</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Templates/Integration.html"
                >Integration</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Templates/Pricing.html">Pricing</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link">Resources</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="../Templates/AboutUs.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Templates/Login.html">Login</a>
            </li>
          </ul>
          <button class="btn main-btn p-3" type="submit">
            <a id="button" href="../Templates/TrialPage.html"
              >Start Free trial</a
            >
          </button>
        </div>
      </div>
    </nav>

    <!-- Section 1 -->
    <section class="pb-4">
      <div class="container">
        <div class="row pt-5 mt-5">
          <div class="col-lg-6 col-md-12 col-12 ps-5">
            <h1 class="fw-bold pb-4">
              Get more appointments for your Spas and Salons using WhatsApp
            </h1>
            <table>
              <tr>
                <th class="pe-2">
                  <i
                    class="fa-solid fa-check fw-bold"
                    style="color: #05a68b"
                  ></i>
                </th>
                <td>Send discount & offers to 1000s of customers</td>
              </tr>
              <tr>
                <th>
                  <i
                    class="fa-solid fa-check fw-bold"
                    style="color: #05a68b"
                  ></i>
                </th>
                <td>Stay connected 24*7 with WhatsApp automation</td>
              </tr>
              <tr>
                <th>
                  <i
                    class="fa-solid fa-check fw-bold"
                    style="color: #05a68b"
                  ></i>
                </th>
                <td>Showcase your services with WhatsApp storefront</td>
              </tr>
            </table>
            <button type="button" class="sub-btn">Try Interact for free</button>
            <button type="button" class="demo-btn">Get a Live Demo</button>
          </div>
          <div class="col-lg-6 col-md-12">
            <img src="../images/spas-salon img1.webp" class="w-100 pe-5" />
          </div>
        </div>
      </div>
    </section>
    <!-- // section 1 -->

    <!-- section 2 -->
    <section style="background-color: #004c3d">
      <div class="container-fluid p-5 mt-5">
        <h3 class="text-center text-light">
          Leading Spa & Saloon businesses
          <i class="fa-solid fa-heart" style="color: #e22828"></i>VyaparVriddhi
        </h3>
        <div class="row pt-3 gy-4">
          <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="../images/beauty img1.png" class="w-100" />
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="../images/beauty img2.png" class="w-100" />
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="../images/beauty img3.png" class="w-100" />
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="../images/beauty img4.png" class="w-100" />
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="../images/beauty img5.png" class="w-100" />
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="../images/beauty img6.png" class="w-100" />
          </div>
        </div>
      </div>
    </section>
    <!-- // section 2 -->

    <!-- section 3 -->
    <section>
      <div class="container">
        <div class="row pt-5">
          <h4 class="text-center">Create delightful experiences on WhatsApp</h4>
        </div>
        <table>
          <tr>
            <th class="ps-4"><i class="fa-solid fa-arrow-pointer icon"></i></th>
            <th class="ps-5">
              <h5>Acquire</h5>
              <p class="fw-normal gray">
                Integrate your website with Interakt’s WhatsApp Business
                Platform & streamline business operations. Answer FAQs via
                custom auto-replies and help customers in making the right
                purchase decisions
              </p>
            </th>
          </tr>
          <tr>
            <th class="ps-4"><i class="fa-solid fa-wallet icon1"></i></th>
            <th class="ps-5">
              <h5>Convert</h5>
              <p class="fw-normal gray">
                Integrate your website with Interakt’s WhatsApp Business
                Platform & streamline business operations. Answer FAQs via
                custom auto-replies and help customers in making the right
                purchase decisions
              </p>
            </th>
          </tr>
          <tr>
            <th class="ps-4"><i class="fa-solid fa-face-smile icon2"></i></th>
            <th class="ps-5">
              <h5 class="pt-4">Engage</h5>
              <p class="fw-normal gray">
                Solve customer queries & support them at scale on WhatsApp.
                Gather ratings/feedback from clients using WhatsApp automated
                flows
              </p>
            </th>
          </tr>
          <tr>
            <th class="ps-4"><i class="fa-solid fa-bell icon3"></i></th>
            <th class="ps-5">
              <h5 class="pt-4">Delight</h5>
              <p class="fw-normal gray">
                Send new launch & festive sale offers to drive sales. Send
                regular tips on how to use beauty & cosmetics products for the
                ones they bough
              </p>
            </th>
          </tr>
        </table>
      </div>
    </section>
    <!-- // section 3 -->

    <!-- section 4 -->
    <section>
      <div class="container-fluid" style="background-color: #fff2da">
        <div class="pt-5 mt-5 pb-3">
          <h2 class="text-center pb-2">
            How to use WhatsApp Business API to grow your business
          </h2>
          <p class="text-center">
            The beauty and cosmetics industry is growing at a rapid annual
            compounded growth rate of 4.75% worldwide, <br />
            with more brands joining the league to meet consumer demand. See how
            leading brands use WhatsApp <br />
            Business API to acquire, convert and engage online shoppers in the
            rising competition.
          </p>
        </div>
      </div>
    </section>
    <!-- // section 4 -->

    <!-- section 5 -->
    <section class="pt-5">
      <div class="container">
        <div class="row align-content-center align-items-center">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 class="fw-bold pb-3">
              Reach more customers for your spa and salon services
            </h2>
            <table>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Run click to WhatsApp ads to capture consumer intent
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Verify consumer interest and generate more leads
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Take appointment & payments on WhatsApp for confirmed
                    walk-ins
                  </p>
                </td>
              </tr>
            </table>
            <button class="btn btn-warning ps-4 mt-4 fw-semibold pe-4">
              Try for Free
            </button>
          </div>

          <div class="col-lg-6">
            <img src="../images/spas-salon img2.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- // section 5 -->

    <section style="background-color: #cbf2e4">
      <div class="container">
        <div class="row align-content-center align-items-center pt-5 pb-4">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../images/spas-salon img3.png" class="w-100 rounded-4" />
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 class="fw-bold pb-3">
              Keep your customers engaged to reduce appointment drop-offs
            </h2>
            <table>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Create an automated welcome series to understand consumers
                    better
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Share best-selling products and collections through WhatsApp
                    catalog messages
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Create checkout links and take payments for orders on
                    WhatsApp
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-circle-dot icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Automate abandoned cart recovery messages to bring back lost
                    shoppers
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row align-content-center align-items-center pt-5">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 class="fw-bold pb-3">
              Keep your shoppers engaged to drive conversions
            </h2>
            <table>
              <tr>
                <td>
                  <i class="fa-solid fa-check fw-bold icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Set up WhatsApp broadcasts to share product launches, new
                    collections and offers
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-check fw-bold icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Promote customer testimonials and user generated content
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa-solid fa-check fw-bold icon4 mb-2"></i>
                </td>
                <td>
                  <p class="m-0 ps-2 mb-2">
                    Run contests and quizzes using interactive messages
                  </p>
                </td>
              </tr>
            </table>
            <button
              class="btn ps-4 mt-4 text-light fw-semibold pe-4"
              style="background: #004c3d"
            >
              Signup Today
            </button>
          </div>
          <div class="col-lg-6">
            <img
              src="../images/../images/spas-salon img4.png"
              class="img-fluid"
            />
          </div>
        </div>
        <hr class="mt-5 mb-5" />
      </div>
    </section>
    <!-- section 6 -->
    <section>
      <div class="container">
        <h2 class="fw-bolder text-center pb-3">
          Why use WhatsApp Business for Spas & Saloons
        </h2>
        <p class="text-center pb-4">
          The spa & salon industry is growing rapidly and WhatsApp gives you an
          opportunity to cut through the noise on other channels <br />to reach
          your customers faster.
        </p>
        <div class="row justify-content-evenly">
          <div class="col-lg-3 col-md-6 col-sm-12 box1 rounded-3 p-3">
            <h1 class="fw-bold">98%</h1>
            <p class="m-0">
              Average open rate on <br />
              campaigns
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 box1 rounded-3 p-3">
            <h1 class="fw-bold">47%</h1>
            <p class="m-0">
              Higher conversion rate as compared to email, SMS and social media.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 box1 rounded-3 p-3">
            <h1 class="fw-bold">17%+</h1>
            <p class="m-0">Click-through rate on WhatsApp broadcasts</p>
          </div>
        </div>
      </div>
    </section>
    <!-- // section 6 -->

    <!-- section 7 -->
    <section class="mt-5" style="background-color: #fff2da">
      <div class="container">
        <h4 class="fw-bolder text-center pt-5 pb-3">
          Seamless integration with 15+ popular business platforms
        </h4>
        <div class="row pb-4">
          <img src="../images/Frame 1.png" style="width: 140px" />
          <img src="../images/Frame 2.png" style="width: 140px" />
          <img src="../images/Frame 3.png" style="width: 140px" />
          <img src="../images/Frame 4.png" style="width: 140px" />
          <img src="../images/Frame 5.png" style="width: 140px" />
          <img src="../images/Frame 6.png" style="width: 140px" />
          <img src="../images/Frame 7.png" style="width: 140px" />
          <img src="../images/Frame 8.png" style="width: 140px" />
          <img src="../images/Frame 9.png" style="width: 140px" class="pt-3" />
          <img src="../images/Frame 10.png" style="width: 140px" class="pt-3" />
          <img src="../images/Frame 11.png" style="width: 140px" class="pt-3" />
          <img src="../images/Frame 12.png" style="width: 140px" class="pt-3" />
          <img src="../images/Frame 7.png" style="width: 140px" class="pt-3" />
          <img src="../images/Frame 4.png" style="width: 140px" class="pt-3" />
          <img src="../images/Frame 3.png" style="width: 140px" class="pt-3" />
        </div>
      </div>
    </section>
    <!--  // section -->

    <!-- section 8 -->
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row align-content-center align-items-center">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2 class="fw-bolder mb-2">
              Explore how to use WhatsApp Business for your spa and salon
              business using Interakt.​
            </h2>
            <p class="gray">
              Get access to the WhatsApp Business API, learn more about
              campaigns and WhatsApp automations to grow your business.
            </p>
            <button class="btn btn-warning ps-4 mt-2 fw-semibold pe-4">
              Start Free Trail
            </button>
            <p><i>No Credit Card Required*</i></p>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="../images/spas-salon img5.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- // section -->

    <!-- section 9 -->
    <section class="pt-5">
      <div class="container text-center">
        <div main class="element-html">
          <div class="box">
            <h2 class="box-sizing">Get Started with VyaparVriddhi Today</h2>

            <ul class="w3box pb-4 mb-0">
              <li class="abc">Drive Sales & Customer Experience</li>
              <li class="abc">No Set-up Costs</li>
              <li class="abc">No Surcharge on Notifications</li>
            </ul>

            <button
              class="btn fw-600 ps-5 fs-5 mt-3 mb-3 pe-5"
              style="background: #fab534"
            >
              Try VyaparVriddhi For Free
            </button>

            <h2 class="pt-4 pb-3 fs-3 fw-bold">Get More Question?</h2>

            <a href="Live-demo.html"><button class="btn btn-success mt-4 mb-3">Get A Live Demo</button></a>
          </div>
        </div>
      </div>
    </section>
    <!-- section -->

    <!-- Footer section -->
    <section class="footer mt-5" style="background: #014d3e">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-5 col-md-6 text-white">
            <img
              src="../images/vyapar_img.png"
              alt="logo"
              width="200"
            />
            <!-- <div class="jioproduct">
              <img src="../images/footer img 2.png" width="290" class="pt-3" />
            </div>
            <div class="jioproduct">
              <img src="../images/footer img 3.png" width="290" class="pt-3" />
            </div> -->
            <div class="footer-text pt-2">
              <p class="text-white" style="font-size: 17px">
                VyaparVriddhi is a Jio Haptik Product <br />Logo Building Intelligent
                Virtual Assistants for Businesses
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-white sm-text-cen">
            <div class="title d-inline-block">
              <h4 class="mb-3">VyaparVriddhi</h4>
              <ul class="list-unstyled">
                <li><a href="Live-demo.html">Get a Live Demo</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Partner with Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & condition</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-white">
            <div class="title d-inline-block">
              <h4 class="mb-3">Quick Help Links</h4>
              <ul class="list-unstyled">
                <li><a href="#">Blogs</a></li>
                <li><a href="#">FAQ’s</a></li>
                <li><a href="#">Case Studies</a></li>
                <li><a href="#">Resource Center</a></li>
                <li><a href="#"> Academy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-white">
            <div class="title d-inline-block">
              <h4 class="mb-3">Why Interakt</h4>
              <ul class="list-unstyled">
                <p>VyaparVriddhi vs. Aisensy</p>
                <p>VyaparVriddhi vs. Bitespeed</p>
                <p>VyaparVriddhi vs. Delightchat</p>
                <p>VyaparVriddhi vs. Limechat</p>
                <p>VyaparVriddhi vs. Businessonbot</p>
                <!-- <p>Businessonbot</p> -->
              </ul>
              <div class="social-icon">
                <ul class="list-unstyled">
                  <li>
                    <a href="#"
                      ><img src="../images/Youtube icon.webp" width="30px"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="../images/Twitter icon.webp" width="30px"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="../images/facebook icon.webp" width="30px"
                    /></a>
                  </li>
                  <li>
                    <a href="#"
                      ><img src="../images/Instagam icon.webp" width="30px"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img
                src="../images/footer play img.webp"
                width="40px"
                class="ps-3"
              />
              <img
                src="../images/footer apple logo.webp"
                width="40px"
                class="ps-3"
              />
              <img
                src="../images/footer sotify logo.webp"
                width="40px"
                class="ps-3"
              />
            </div>
            <div class="col-lg-12 text-center">
              <h4 class="pt-3 text-white">
                India 
              </h4>
            </div>
            <!-- <div class="col-lg-12 text-center text-white pt-3">
              <span
                >Copyright © Jio Haptik Technologies Limited 2022 | All
                rights</span
              >
              reserved
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- // footer section -->

    <!-- Bootstrap js link -->
    <script
      src="https:/cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https:/cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
